.title-form-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--secondary-text-color);
}
.form-field {
  margin-bottom: 10px;
}
.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}
.form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-input {
  + .modal-form-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus + .modal-form-icon {
    fill: var(--accent-color);
  }
}

.form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.form-comment {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  transform: translateY(50%);
}
.input-wraped {
  display: block;
  position: relative;
}
.form-field-checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-link {
  color: var(--accent-color);
}
.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.check-text {
  span {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-icon-check {
  fill: #ffffff;
}

.input-check {
  &:checked {
    + .check-text {
      span {
        background-color: var(--accent-color);
        border: none;
      }
    }
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.text-policy {
  margin-right: 3px;
}
.form-btn {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  background-color: var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
