.menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn:hover .menu-btn__icon,
.menu-btn:focus .menu-btn__icon {
  fill: var(--accent-color);
}
.menu-btn__icon {
  background-color: var(--primary-background-color);
  width: 40px;
  height: 40px;
}
.modal-menu__container {
  padding: 40px 48px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms linear;
}
.modal-menu__container.is-open {
  opacity: 1;
  pointer-events: initial;
}
.modal-menu__icon {
  width: 40px;
  height: 40px;
}
