.menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn:hover .menu-btn__icon,
.menu-btn:focus .menu-btn__icon {
  fill: var(--accent-color);
}
.menu-btn__icon {
  background-color: var(--primary-background-color);
  width: 40px;
  height: 40px;
}
.modal-menu__container {
  padding: 40px 48px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms linear;
}
.modal-menu__container.is-open {
  opacity: 1;
  pointer-events: initial;
}
.modal-menu__btn {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-menu__icon {
  width: 18px;
  height: 18px;
}
.modal-menu__list-nav {
  margin-bottom: 302px;
}
.modal-menu__item-nav {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.modal-menu__link-nav.main-page {
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;

    bottom: 0;
    left: 0;

    content: ' ';
    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }
}
.modal-menu__link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.modal-menu__list-contacts {
  margin-bottom: 64px;
}
.modal-menu__item-contacts {
  margin-bottom: 32px;
  &:first-child {
    .modal-menu__link-contacts {
      font-weight: 500;
      font-size: 34px;
      line-height: calc(40 / 34);
      letter-spacing: 0.02em;

      color: var(--accent-color);
    }
  }
}
.modal-menu__link-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
}
.modal-menu__list-social {
  display: flex;
  align-items: center;
}
.modal-menu__item-social {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
  }
}
.modal-menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
