.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}

.logo {
  &.footer-logo {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.address-street {
  font-style: normal;

  color: var(--primary-background-color);
}
.address-contacts {
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}
.address-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}
.footer-container__block {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  margin-bottom: 60px;
}
.agitation {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-icon {
  &.fotter-social-icon {
    fill: #fff;
  }
}
.footer-cantainer__box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
