.footers-form {
  // width: 570px;
  // height: 86px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.agitation-form {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-form-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-form-email {
  width: 100%;
  margin-bottom: 20px;
  // width: 358px;
  height: 50px;

  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  outline: none;
  @media screen and (min-width: 768px) {
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form-link {
  max-width: 200px;
  margin: 0 auto;
  height: 50px;
  padding: 10px 29px;
  font-weight: 700;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-text {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
