.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: start;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  &.main-page {
    position: relative;
  }
}
.main-page {
  color: var(--accent-color);
}

.navigation-list {
  &.main-page::after {
    position: absolute;

    bottom: -35px;
    left: 0;

    content: '';
    width: 100%;
    height: 4px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
}
.header-link {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.navigation {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}
.header-navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
